<!DOCTYPE html>
<html>
<head>
    <title>Inventory || Management System </title>
</head>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'inventory/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'inventory/css/bootstrap.min.css' %}"/>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand text-warning font-weight-bold" href="{% url 'index' %}"><i class="fa fa-barcode" style="font-size:48px"></i> IMS</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
          </li></ul>
           <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <p class="navbar-brand text-warning font-weight-bold"> Inventory Management System </p>

          </li>

        </ul>

      </div>
    </nav>

    <div class="container">

      <div class="starter-template">

      </div>
        {% block content %}

        {% endblock %}


    </div><!-- /.container -->


</body>
</html>
